<template>
  <div
    class="container-fluid d-flex align-items-center justify-content-center"
    style="height: 100vh;"
  >
    <div class="card border-0">
      <img src="@/assets/404.png" alt="404" />
      <div class="card-body">
        <a href="/pedidos">Voltar</a>
      </div>
    </div>
  </div>
</template>
